In [44]:
import pandas as pd
import numpy as np
import warnings
import seaborn as sns

# Filter out all warnings
warnings.filterwarnings("ignore")

In [45]:
cleaned_data_path = "C:\\Users\\abi\\Desktop\\richter_predictor\\data\\train_values.csv"

df = pd.read_csv(cleaned_data_path)

In [3]:
labels_path = "C:\\Users\\abi\\Desktop\\richter_predictor\\data\\train_labels.csv"
label_df = pd.read_csv(labels_path)

In [4]:
test_path = "C:\\Users\\abi\\Desktop\\richter_predictor\\data\\test_values.csv"
test_df = pd.read_csv(test_path)

In [5]:
test_df.shape

(86868, 39)

In [6]:
label_df

        building_id  damage_grade
0            802906             3
1             28830             2
2             94947             3
3            590882             2
4            201944             3
...             ...           ...
260596       688636             2
260597       669485             3
260598       602512             3
260599       151409             2
260600       747594             3

[260601 rows x 2 columns]

In [7]:
df.shape

(260601, 39)

In [8]:
total_df = df.copy()

In [9]:
total_df = total_df.merge(label_df, on =['building_id'])

In [10]:
total_df

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,3
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,0,0,0,0,0,0,0,2
2,94947,21,363,8973,2,10,5,5,t,r,...,0,0,0,0,0,0,0,0,0,3
3,590882,22,418,10694,2,10,6,5,t,r,...,0,0,0,0,0,0,0,0,0,2
4,201944,11,131,1488,3,30,8,9,t,r,...,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,688636,25,1335,1621,1,55,6,3,n,r,...,0,0,0,0,0,0,0,0,0,2
260597,669485,17,715,2060,2,0,6,5,t,r,...,0,0,0,0,0,0,0,0,0,3
260598,602512,17,51,8163,3,55,6,7,t,r,...,0,0,0,0,0,0,0,0,0,3
260599,151409,26,39,1851,2,10,14,6,t,r,...,0,0,0,0,0,0,0,0,0,2
260600,747594,21,9,9101,3,10,7,6,n,r,...,0,0,0,0,0,0,0,0,0,3

In [11]:
numerical_columns = []

for column in df.columns:
    if (len(df[column].value_counts()) > 10):
        numerical_columns.append(column)

In [12]:
numerical_columns

['building_id',
 'geo_level_1_id',
 'geo_level_2_id',
 'geo_level_3_id',
 'age',
 'area_percentage',
 'height_percentage']

In [13]:
len(df['count_floors_pre_eq'].value_counts())

9

In [14]:
numerical_columns.append('count_floors_pre_eq')

In [15]:
numerical_columns

['building_id',
 'geo_level_1_id',
 'geo_level_2_id',
 'geo_level_3_id',
 'age',
 'area_percentage',
 'height_percentage',
 'count_floors_pre_eq']

In [16]:
numerical_columns.append('count_families')

In [17]:
numerical_columns.remove('building_id')

In [18]:
numerical_columns.remove('geo_level_1_id')

In [19]:
numerical_columns.remove('geo_level_2_id')

In [20]:
numerical_columns.remove('geo_level_3_id')

In [21]:
numerical_columns

['age',
 'area_percentage',
 'height_percentage',
 'count_floors_pre_eq',
 'count_families']

In [22]:
high_cardinal_cat_columns =['geo_level_1_id', 'geo_level_2_id','geo_level_3_id']

In [23]:
high_cardinal_cat_columns

['geo_level_1_id', 'geo_level_2_id', 'geo_level_3_id']

In [24]:
len(numerical_columns)

5

In [25]:
len(df['geo_level_3_id'].value_counts())

11595

In [26]:
categorical_columns = []

for column in df.columns:
    if (len(df[column].value_counts()) <= 10):
        categorical_columns.append(column)

In [27]:
categorical_columns.remove('count_floors_pre_eq')

In [28]:
categorical_columns.remove('count_families')

In [29]:
len(categorical_columns)

30

In [30]:
categorical_columns

['land_surface_condition',
 'foundation_type',
 'roof_type',
 'ground_floor_type',
 'other_floor_type',
 'position',
 'plan_configuration',
 'has_superstructure_adobe_mud',
 'has_superstructure_mud_mortar_stone',
 'has_superstructure_stone_flag',
 'has_superstructure_cement_mortar_stone',
 'has_superstructure_mud_mortar_brick',
 'has_superstructure_cement_mortar_brick',
 'has_superstructure_timber',
 'has_superstructure_bamboo',
 'has_superstructure_rc_non_engineered',
 'has_superstructure_rc_engineered',
 'has_superstructure_other',
 'legal_ownership_status',
 'has_secondary_use',
 'has_secondary_use_agriculture',
 'has_secondary_use_hotel',
 'has_secondary_use_rental',
 'has_secondary_use_institution',
 'has_secondary_use_school',
 'has_secondary_use_industry',
 'has_secondary_use_health_post',
 'has_secondary_use_gov_office',
 'has_secondary_use_use_police',
 'has_secondary_use_other']

In [31]:
cat_binary_column = [column for column in categorical_columns if column.lower().startswith("has")]

In [32]:
cat_binary_column

['has_superstructure_adobe_mud',
 'has_superstructure_mud_mortar_stone',
 'has_superstructure_stone_flag',
 'has_superstructure_cement_mortar_stone',
 'has_superstructure_mud_mortar_brick',
 'has_superstructure_cement_mortar_brick',
 'has_superstructure_timber',
 'has_superstructure_bamboo',
 'has_superstructure_rc_non_engineered',
 'has_superstructure_rc_engineered',
 'has_superstructure_other',
 'has_secondary_use',
 'has_secondary_use_agriculture',
 'has_secondary_use_hotel',
 'has_secondary_use_rental',
 'has_secondary_use_institution',
 'has_secondary_use_school',
 'has_secondary_use_industry',
 'has_secondary_use_health_post',
 'has_secondary_use_gov_office',
 'has_secondary_use_use_police',
 'has_secondary_use_other']

In [33]:
categorical_columns = [column for column in categorical_columns if not column.lower().startswith("has")]

In [34]:
categorical_columns

['land_surface_condition',
 'foundation_type',
 'roof_type',
 'ground_floor_type',
 'other_floor_type',
 'position',
 'plan_configuration',
 'legal_ownership_status']

In [35]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import FunctionTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler

In [36]:
high_cat_columns = ['geo_level_1_category', 'geo_level_2_category', 'geo_level_3_category']

In [37]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

In [60]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import *
from sklearn.metrics import f1_score

In [71]:
class Prediction:
    
    def __init__(self):
       # self.p_obj = None
        self.report = {}
        self.is_trained = False
        self.pipe = None
        self.best_trained_model = None
    
    def bucketize_geo_levels(self, x):
        
        df = x
        bins_geo_level_1 = [0, 10, 20, 30]
        bins_geo_level_2 = [0, 1427, 2854, 4281, 5708, 7135, 8562, 9989, 11416]
        bins_geo_level_3 = [0, 1256, 2513, 3769, 5025, 6281, 7537, 8793, 10049, 11305, 12567]

        # Define the labels for each category
        # Create labels for each bin
        labels_geo_level_1 = ['cat1', 'cat2', 'cat3']
        labels_geo_level_2 = ['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8']
        labels_geo_level_3 = ['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9', 'cat10']
        
        # Apply bucketing to each column
        df['geo_level_1_category'] = pd.cut(df['geo_level_1_id'], bins=bins_geo_level_1, labels=labels_geo_level_1)
        df['geo_level_2_category'] = pd.cut(df['geo_level_2_id'], bins=bins_geo_level_2, labels=labels_geo_level_2)
        df['geo_level_3_category'] = pd.cut(df['geo_level_3_id'], bins=bins_geo_level_3, labels=labels_geo_level_3)
        df = df.drop(['geo_level_1_id', 'geo_level_2_id', 'geo_level_3_id'], axis = 1)
        print('hi')
        
        return df
        
    def preprocessor_fn(self):
            preprocessor = ColumnTransformer(
            transformers=[
            ('numeric', StandardScaler(), numerical_columns),
            ('categorical', OneHotEncoder(), categorical_columns),
            ('no_encoding', 'passthrough', cat_binary_column),
            ('no_encoding_hcc', OneHotEncoder(), high_cat_columns)
            ],
            remainder='drop'  # Drop any columns not explicitly transformed
        )
            
            self.pipe = Pipeline([('preprocessor', preprocessor),])
        
        
    def model_training(self, X, y):
            
            models = {
                         "LogisticRegression": LogisticRegression(),
#                         "DecisionTreeClassifier": DecisionTreeClassifier(),
#                        "RandomForestClassifier": RandomForestClassifier(),
#                        "SVC": SVC(),
#                      "KNeighborsClassifier": KNeighborsClassifier(),
                        "GaussianNB": GaussianNB()
                    }

            params = {
                        "LogisticRegression": {'C': [0.01, 1, 10], 'penalty': ['l1', 'l2', 'elasticnet'], 'multi_class': ['ovr']},
                       # "DecisionTreeClassifier": {'splitter': ['best', 'random'], 'criterion': ['gini', 'entropy']},
                       # "RandomForestClassifier": {'n_estimators': [8, 32, 84]},
                        # "SVC": {'C': [1.0, 10, 100], 'kernel': ['rbf', 'linear'], 'gamma': ['scale', 1]},
                        # "KNeighborsClassifier": {'metric': ['euclidean', 'manhattan'], 'n_neighbors': [5, 7, 10]},
                        "GaussianNB": {}
                    }
            
            X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)
            
            for model_name, model_object in models.items():
                    print(model_name)
                    current_params = params[model_name]

                    grid_search_object = GridSearchCV(model_object, current_params, cv=3)
                    grid_search_object.fit(X_train, y_train)

                    best_model = grid_search_object.best_estimator_
                    best_params = grid_search_object.best_params_

                    best_model.fit(X_train, y_train)
                    y_test_pred = best_model.predict(X_test)

                    test_model_f1_score = f1_score(y_test, y_test_pred, average ='micro')

                    self.report[model_name] = {'test_model_f1_score': test_model_f1_score,
                                          'best_params': best_params}
                    print(f"{model_name} done")
            
            print(self.report)
            model_df = pd.DataFrame.from_dict(self.report, orient='index')       
            model_df.sort_values(by=['test_model_f1_score'], ascending = False, inplace = True)
            top_model_details = model_df.head(1)
            
            best_model_object = models[top_model_details.index[0]]
            best_model_object.set_params(**top_model_details.best_params[0])
            
            self.best_trained_model = best_model_object.fit(X_train, y_train)
            
            
    def prediction_fn(self, X_test, submission_df):
        
        submission = submission_df
        
        if not self.is_trained:
            
            raise ValueError("Model has not been trained yet.")
            
        X_test_pp = self.bucketize_geo_levels(X_test)
        
        X_test_preprocessed = self.pipe.fit_transform(X_test_pp)
        
        predictions = self.best_trained_model.predict(X_test_preprocessed)
        
        submission['damage_grade'] = predictions
        
        submission.to_csv("C:\\Users\\abi\\Desktop\\richter_predictor\\submission\\submission.csv")

        return predictions
    
    def best_model_creating_fn(self, X_train, y_train):
        
        X_train = self.bucketize_geo_levels(X_train)
        
        self.preprocessor_fn()
        
        transformed_data = self.pipe.fit_transform(X_train)
         
        self.model_training(transformed_data, y_train)

        self.is_trained = True

In [72]:
total_df.head(2)

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,3
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,0,0,0,0,0,0,0,2

In [73]:
test = Prediction()

In [74]:
X= total_df.drop(['building_id', 'damage_grade'], axis=1)
y= total_df['damage_grade']
submission_df = test_df['building_id']

In [75]:
test.best_model_creating_fn(X,  y)

hi
LogisticRegression
LogisticRegression done
GaussianNB
GaussianNB done
{'LogisticRegression': {'test_model_f1_score': 0.6001586063109963, 'best_params': {'C': 10, 'multi_class': 'ovr', 'penalty': 'l2'}}, 'GaussianNB': {'test_model_f1_score': 0.39100292910042084, 'best_params': {}}}

In [76]:
print(test.best_trained_model)

LogisticRegression(C=10, multi_class='ovr')

In [77]:
prediction = test.prediction_fn(test_df.drop(['building_id'], axis=1), submission_df)

hi

In [78]:
print(prediction)

[3 2 2 ... 2 2 2]